
*.iml

*.xml

*.cmake

cmake-build-debug/CMakeCache\.txt

cmake-build-debug/CMakeFiles/3\.14\.2/CMakeDetermineCompilerABI_C\.bin

cmake-build-debug/CMakeFiles/3\.14\.2/CMakeDetermineCompilerABI_CXX\.bin

cmake-build-debug/CMakeFiles/3\.14\.2/CompilerIdC/a\.out

cmake-build-debug/CMakeFiles/3\.14\.2/CompilerIdC/CMakeCCompilerId\.c

cmake-build-debug/CMakeFiles/3\.14\.2/CompilerIdCXX/a\.out

cmake-build-debug/CMakeFiles/3\.14\.2/CompilerIdCXX/CMakeCXXCompilerId\.cpp

cmake-build-debug/CMakeFiles/clion-environment\.txt

cmake-build-debug/CMakeFiles/clion-log\.txt

cmake-build-debug/CMakeFiles/cmake\.check_cache

cmake-build-debug/CMakeFiles/CMakeOutput\.log

cmake-build-debug/CMakeFiles/feature_tests\.bin

cmake-build-debug/CMakeFiles/feature_tests\.c

cmake-build-debug/CMakeFiles/feature_tests\.cxx

cmake-build-debug/CMakeFiles/Gladiators\.dir/AStar\.cpp\.o

cmake-build-debug/CMakeFiles/Gladiators\.dir/build\.make

cmake-build-debug/CMakeFiles/Gladiators\.dir/CXX\.includecache

cmake-build-debug/CMakeFiles/Gladiators\.dir/depend\.internal

cmake-build-debug/CMakeFiles/Gladiators\.dir/depend\.make

cmake-build-debug/CMakeFiles/Gladiators\.dir/flags\.make

cmake-build-debug/CMakeFiles/Gladiators\.dir/link\.txt

cmake-build-debug/CMakeFiles/Gladiators\.dir/main\.cpp\.o

cmake-build-debug/CMakeFiles/Gladiators\.dir/progress\.make

cmake-build-debug/CMakeFiles/Gladiators\.dir/Quadrant\.cpp\.o

cmake-build-debug/CMakeFiles/Gladiators\.dir/TuplaCuadrante\.cpp\.o

cmake-build-debug/CMakeFiles/Makefile2

cmake-build-debug/CMakeFiles/progress\.marks

cmake-build-debug/CMakeFiles/TargetDirectories\.txt

cmake-build-debug/Gladiators

cmake-build-debug/Gladiators\.cbp

cmake-build-debug/Makefile

CMakeLists\.txt

main\.cpp
